fastapi
uvicorn[standard]
sqlalchemy
alembic
aiosqlite
pydantic
pydantic-settings
email-validator
python-jose
passlib[bcrypt]
python-dotenv
pytest
httpx
python-multipart
setuptools
slowapi
redis
bcrypt==4.0.1
prometheus-fastapi-instrumentator